body
{
	background-color: #F0F0F0;
    font-family: Helvetica, Arial, Sans-serif;
}

a
{
    color: #17A5D4;
    text-decoration: none;
}

a:visited
{
    color: #17A5D4;
}

h2
{
	color: #0000CD;
}

h3
{
	color: #3CB371;
}

pre
{
	font-weight: bold;
}
